{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
my profile
{% endblock title %}

{% block content %}
    {% if confirm %}
        <div class="alert alert-primary" role="alert">
            Your profile has been updated!
        </div>
    {% endif %}

<div class="text-center">
    <img src="{{profile.avatar.url}}" alt="my-profile" class="avatar-big">
</div>


<br>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="button is-primary mt-3">Update</button>
</form>

{% endblock content %}