{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}

{% block title %}

{% endblock title %}

{% block content %}
<!-- Reports Modal -->
<div class="modal" id='report-modal'>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add report</p>
      <button class="delete" aria-label="close" id='close-modal-x-btn'></button>
    </header>
    <section class="modal-card-body" id='report-modal-body'>
        <div id="alert-box"></div>
      <form id='report-form'>
        {% csrf_token %}
        {{ report_form|crispy }}
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info" id="report-modal-save-btn">Save</button>
      <button class="button" id='close-modal-btn'>Cancel</button>
    </footer>
  </div>
</div>

<hr>

{% if no_data %}
    <div class="alert alert-warning" role="alert">
        {{no_data}}
    </div>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{search_form|crispy}}
    <button type="submit" class="button is-primary mt-5">Search</button>
    <div class="is-clearfix"></div>
</form>
<br>
{% if sales_df %}
    Sales Data Frame
    {{ sales_df |safe }}
    <br>
    Positions Data Frame
    {{ positions_df|safe }}
    <br>
    Merged Data Frame
    {{ merged_df |safe}}
    <br>
    Grouped By Data Frame
    {{ df |safe}}
    <br>
    
    <img src="data:image/png;base64, {{chart|safe}}" id='chart-img'>
    <div class="is-clearfix"></div>
{% endif %}

<button class="button is-primary is-hidden" id='report-btn'>Add report</button>
<br>

{% endblock content %}