{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}

{% block content %}

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{error_message}}
    </div>
{% endif %}

<div class="columns">
    <div class="column is-4 is-offset-4">
        <h1 class="title">Log in</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="button is-dark mt-5">Login</button>
        </form>
    <div>
</div>

{% endblock content %}